{:site-title       "Sveris Tales"
 :author           "Sven Richter"
 :description      "Everything about everything"
 :site-url         "http://tales.sveri.de/"
 :post-root        "posts"
 :tag-root         "tags"
 :page-root        "pages"
 :blog-prefix      ""
 :rss-name         "feed.xml"
 :rss-filters      ["cryogen"]
 :recent-posts     3
 :post-date-format "yyyy-MM-dd"
 :sass-src         nil
 :sass-dest        nil
 :resources        ["css" "js" "img" "404.html"]
 :keep-files       [".git"]
 :disqus?          true
 :disqus-shortname "sveri80"
 :ignored-files    [#"\.#.*" #".*\.swp$"]}
